::ng-deep .workshop-participant-list {
  margin-top: 20px;
  overflow: hidden !important;
  .dx-list-slide-menu-wrapper {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    margin-bottom: 0px;
    background-color: white;
  }
  .dx-list-item {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    margin-bottom: 10px;
    opacity: 1 !important;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px,
      rgba(0, 0, 0, 0.05) 0px 7px 5px -3px,
      rgba(0, 0, 0, 0.02) 0px -3px 0px inset;
  }
  .dx-list-item:last-of-type {
    border-bottom: 1px solid var(--border-color) !important;
  }
  .dx-list-item:first-of-type {
    border-top: 1px solid var(--border-color);
  }
}
.button-scan-participant {
  text-align: left;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  text-align-last: center;
  width: fit-content;
  font-family: var(--app-text-police);
  ::ng-deep .dx-icon {
    font-size: 24px;
    float: right;
    height: 70px;
    width: 70px;
  }
}
.workshop-participant-item {
  font-weight: bold;
}